<!DOCTYPE html>
<html>

<head>
    <title>
    </title>

</head>

<body>
    <%-  include layout %>
        <div class="container">
            <h2> หน้าบทความ</h2>
            <a href="/blog/add"> เพิ่มบทความ</a>
        </div>

</body>

</html>